<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CounterApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="counter-grid">
    <app-counter
      heading="Počítadlo 1"
      [savedCounters]="leftCounters"
      (saved)="onLeftSaved($event)"
      (deleteRequested)="deleteLeftCounter($event)"
    ></app-counter>

    <app-counter
      heading="Počítadlo 2"
      [savedCounters]="rightCounters"
      (saved)="onRightSaved($event)"
      (deleteRequested)="deleteRightCounter($event)"
    ></app-counter>
  </div>
</ion-content>